{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<nav class="navbar navbar-default" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href=".">Mes Contact </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="./ajouter">Ajoutez un contact</a></li>
      <li class="active"><a href="">Afficher les contacts</a></li>
      <li class="active"><a href="./chercher">Chercher un contact</a></li>
      <li class="active"><a href="./supprimer">Supprimer un contact</a></li>
      <li class="active"><a href="./modifier">Modifier un contact</a></li>

      
      
    </ul>
    
  </div>
	</nav>
	   <div class="container">
    <TABLE class="table table-hover">
 <h2> liste des contacts <h2>

 <tr>
 <th> Pseudo </th>
 <th>  Nom </th>
 <th> Prenom </th>
 <th> Adresse email </th>
 <th> Numero du telephone </th>
 
  </tr>
  {% for contact in contacts %}
  <tr>
        <td>
           {{contact.pseudo}}
        </td>
        <td>
     {{contact.nom}} 
        </td>
         <td>
         {{contact.prenom}}
        </td>
         <td>
         {{contact.email}}
        </td>
         <td>
            {{contact.tel}}
        </td>
    </tr>



{%endfor%}


    </table>


</body>
</html>