{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<nav class="navbar navbar-default" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href=".">Mes Contact </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="">Ajoutez un contact</a></li>
      <li class="active"><a href="./afficher">Afficher les contacts</a></li>
      <li class="active"><a href="./chercher">Chercher un contact</a></li>
      <li class="active"><a href="./supprimer">Supprimer un contact</a></li>
      <li class="active"><a href="./modifier">Modifier un contact</a></li>

      
      
    </ul>
    
  </div>
	</nav>



<form  action="" method="POST">
  <h1>Entrer un nouveau contact :</h1>
  {% csrf_token %}
  {{ formregister.as_p }}
 <button type="submit" class="btn btn-primary"  >  Register Now</button>

</form>

 <h1>{{msg}}</h1>


    

</body>
</html>















