{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <nav class="navbar navbar-default" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href=".">Mes Contact </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="./ajouter">Ajoutez un contact</a></li>
      <li class="active"><a href="./afficher">Afficher les contacts</a></li>
      <li class="active"><a href="./chercher">Chercher un contact</a></li>
      <li class="active"><a href="./supprimer">Supprimer un contact</a></li>
      <li class="active"><a href="./modifier">Modifier un contact</a></li>
      

      
      
    </ul>
    
  </div>
  </nav>

 <div class="container">
   <table class="table-table-hover">
   <h2> Voici le contact : </h2>
   <tr>
   <th>pseudo</th>
   <th>Nom</th>
   <th>Prenom</th>
   <th>Email</th>
   <th>TEL</th>
   </tr>
      
   <tr>
      <tr>
        <td>
           {{contact.pseudo}}
        </td>
        <td>
     {{contact.nom}} 
        </td>
         <td>
         {{contact.prenom}}
        </td>
         <td>
         {{contact.email}}
        </td>
         <td>
            {{contact.tel}}
        </td>
    </tr>
    </tr>
    
  </table>
 </div>

    

</body>
</html>