{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>
<head>
	<title>
	</title>
	<title>Application web gestion de contact</title>
    
 
</head>
</head>
<body>
	<nav class="navbar navbar-default" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">Mes Contact </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="./ajouter">Ajoutez un contact</a></li>
      <li class="active"><a href="./afficher">Afficher les contacts</a></li>
      <li class="active"><a href="./chercher">Chercher un contact</a></li>
      <li class="active"><a href="./supprimer">Supprimer un contact</a></li>
      <li class="active"><a href="./modifier">Modifier un contact</a></li>

      
      
    </ul>
    
  </div>
</nav>
   <h2>ce contact a été supprimer</h2>
</nav>

</body>
</html>