{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <nav class="navbar navbar-default" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href=".">Mes Contact </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="./ajouter">Ajoutez un contact</a></li>
      <li class="active"><a href="./afficher">Afficher les contacts</a></li>
      <li class="active"><a href="./chercher">Chercher un contact</a></li>
      <li class="active"><a href="./supprimer">Supprimer un contact</a></li>
      <li class="active"><a href="./modifier">Modifier un contact</a></li>
      
      
    </ul>
    
  </div>
  </nav>



{% block content %}

   <form  action="" method="POST">
       <h1>Entrer les modifications  :</h1>
  {% csrf_token %}
  {{ formregister.as_p }}
 <button type="submit" class="btn btn-primary"  >Enregistrer </button>

</form>
{% endblock %}

 <h1>les donnees courants</h1>
 <h2>Pseudonyme:{{pseudo}}</h2>
 <h2>Nom:{{nom}}</h2>
 <h2>Prenom:{{prenom}}</h2>
 <h2>Email:{{email}}</h2>
 <h2>Tel:{{tel}}</h2>